<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>liste des etudiants</title>
</head>
<body>
	<h3>création d'étudiantt</h3>
	<form action="/add" method="POST">
		<input placeholder="saisir le nom" type="text" name="Nom">
		<input placeholder="saisir le prénom" type="text" name="prenom">
		<input placeholder="saisir l'addresse" type="text" name="addresse">
		<br>
		<input type="submit" name="Enregistrer">
	</form>
    
	
</body>
</html>